@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(97, 97, 97);
}

h1 {
    font-size: 60px;
}

#search-bar {
    font-family: inherit;
    color: inherit;
    font-size: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(97, 97, 97);
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

#submit-button {
    margin: 20px;
}

#weather-data {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "city-name city-name city-name city-name"
    ". . . ."
    "main-temp main-temp weather-main weather-main"
    ". . weather-desc weather-desc"
    "high-temp low-temp feels-like humidity";
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    margin: 100px auto;
    width: 40%;
    height: 400px;
    box-shadow: rgba(75, 75, 75, 0.35) 0px 2px 40px;
    border-radius: 30px;
}

#city-name {
    grid-area: city-name;
    font-size: 50px;
}

#main-temp {
    grid-area: main-temp;
}

#weather-main {
    grid-area: weather-main;
    align-self: end;
}

#weather-main, #main-temp {
    font-size: 80px;
}

#weather-desc {
    grid-area: weather-desc;
    font-size: 30px;
    align-self: start;
}

#high-temp {
    grid-area: high-temp;
}

#low-temp {
    grid-area: low-temp;
}

#feels-like {
    grid-area: feels-like;
}

#humidity {
    grid-area: humidity;
}

#high-temp, #low-temp, #feels-like, #humidity {
    font-size: 24px;
}